.cardProd {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin-top: 10px;
}

.cardProd h2 {
    margin-bottom: 10px;
}

.cardProd-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 8px;
    width: 300px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color:aliceblue;
}

.cardProd-container input {
    width: 250px;
}